

body{
	background: #00ECB9;
	text-align: center;
	font-family: courier new;
	font-size: 12px;
    }
/*h3{
	margin-top: 10px;
}*/
#result,
#result1{
	border:1px solid #aaa;
	padding:12px;
	width: 230px;
	background: #265;
	border-color: #265;
	color: white;
}

.container{ 
	margin: 30px;
	padding: 100px;
	margin-left: 120px;
}
#app{
	border:1px solid rgb(217, 217, 217);
	border-radius: 5px;
	padding:5px;
	background: #00BF96;
    border-color: #265;
	color: white;
} 
#nmbr{
	width: 230px;
	background: #265;
	border-color: #265;
	color: white; 
}
#rol{
    width: 100px;
}
#app_table{
	width:100%;
}
.top-pad{
	margin-top:50px;
}
label{
	margin-right: 50px;
}
.dice_table {
  display: block;
  background-color: transparent;
  margin-left: 60px;
}
.dice {
  display: table;
  background: transparent;
  transform-style: preserve-3d;
  border: 3px solid #265;
  border-radius: 10%;
  width: 130px;
  height: 130px;
  text-align: center;
  padding: 3px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}
.dice_side {
  display: table-cell;
  vertical-align: middle;
}
.dice_side>.top,
.middle,
.bottom {
  display: table;
  margin: 0 auto;
  visibility: hidden;
}
.dice_side>.dot_row>.d_dot {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: #fdfefe;
  border: solid 1px #bbb;
  border-radius: 50%;
  margin: 3px;
}
.one>.middle>.d_dot:nth-of-type(2n+2) {
  visibility: visible;
}
.two>.top>.d_dot:nth-of-type(3n+1),
.two>.bottom>.d_dot:nth-of-type(1n+3) {
  visibility: visible;
}
.three>.top>.d_dot:nth-of-type(3n+1),
.three>.middle>.d_dot:nth-of-type(2n+2),
.three>.bottom>.d_dot:nth-of-type(1n+3) {
  visibility: visible;
}
.four>.top>.d_dot:nth-of-type(2n+1),
.four>.bottom>.d_dot:nth-of-type(2n+1) {
  visibility: visible;
}
.five>.top>.d_dot:nth-of-type(2n+1),
.five>.middle>.d_dot:nth-of-type(2n+2),
.five>.bottom>.d_dot:nth-of-type(2n+1) {
  visibility: visible;
}
.six>.top>.d_dot:nth-of-type(2n+1),
.six>.middle>.d_dot:nth-of-type(2n+1),
.six>.bottom>.d_dot:nth-of-type(2n+1) {
  visibility: visible;
}
